html, body {
  margin: 0;
}

header {
  padding: 1vh;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}


navbar {
  background: #1abc9c;
  width: 100vw;
  height: 10vh;
}

navbarItem {
  float: left;
}

header h1 {
  color: white;
  font-family: 'Sen', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  margin-bottom: 0;
}

header h2 {
  margin-top: 0px;
  color: white;
  font-family: 'Sen', sans-serif;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  font-size: 30px;
}

p {
  font-family: 'Ubuntu', sans-serif;
  text-align: justify;
  text-justify: inter-word;
  font-size: 20px;
}