html, body {
  margin: 0;
}

header {
  padding: 1vh;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

h1 {
  color: white;
  font-family: 'Sen', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
}

.marquee {
  color: white;
  overflow: hidden;
  background-color: red;
}